{% extends "base.html.twig" %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}
<h2>Editer un film</h2>

{% include "back/movie/_form.html.twig" with {"button": "Editer"} %}

{% endblock %}