{% extends "base.html.twig" %}

{# On "injecte" la nav dans le parent #}
{% block subnav %}
<nav id="subnav">
    <a href="{{ path('back_user_browse') }}">Utilisateurs</a>
    <a href="{{ path('back_movie_browse') }}">Films</a>
    <a href="#">Métiers</a>
</nav>
{% endblock %}